.container {
    margin: 1%;
    margin-top: 30% !important;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-around;
   
} 

.main1 {
   border-radius: 10% !important;
   width : 50%;
   height: auto;
}

@media screen and (max-width: 500px) {
    .main1 {

       border-radius: 10% !important;
       width : 100%;
       height: auto;
    }
   
}
@media all and (min-width: 500px) and (max-width: 1000px) {
    .main1 {

       border-radius: 10% !important;
       width : 80%;
       height: auto;
    }
   
}

.title {
    font-family: 'Abril Fatface', sans-serif;
    color: rgb(4, 48, 48);
    font-size: 150%;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 0, 0);
}
.content {
    color:rgb(67, 96, 177);
    background-color: rgba(3, 233, 250, 0.575);
    padding:5px !important;
    margin:0px !important;
    border:0px !important;
}
.content1 {
    color:rgb(7, 124, 7);
   
    background-color: rgba(0, 255, 34, 0.705);
    padding:5px !important;
    margin:0px !important;
    border:0px !important;
}
.content2 {
    color:rgba(117, 9, 14, 0.986);
   
    background-color: rgba(250, 3, 3, 0.63);
    padding:5px !important;
    margin:0px !important;
    border:0px !important;
}
.infected {
   
 color:rgb(0, 195, 255);
 
 background-color: rgba(7, 229, 245, 0.171);
   
}

.recovered {
    color:rgb(12, 189, 6);
 
 background-color: rgba(35, 245, 7, 0.233);
}

.deaths {
    color:rgba(255, 0, 13, 0.616);
 
 background-color: rgba(245, 7, 7, 0.288);
}

.content4 {  
    padding:5px !important;
    margin:0px !important;
    border:0px !important;
    /* background-color: rgba(6, 206, 251, 0.687); */

}
.slider {
    width:100%;
    height:100%;
}

/* .overflow {
    overflow: scroll;
    margin: 15px;
    height:
 }
 @media all and (min-width: 500px) and (max-width: 1000px) {
    .overflow {
        overflow: scroll;
        margin: 13px;
     }
  }
  @media screen and (max-width: 500px) {
    .overflow {
        overflow: scroll;
     }
  } */
  .iframe {
    height: 470px;
    width: 290px;
    border-radius: 20px;
    margin-top: 10%;
    border: 0px;

     }

     .selfcard{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
     }
     .searching{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        margin-bottom: 10px; 
        width: auto;
         height: 38px;
        margin-top: 25%;
         margin-bottom: 5%;
        display: flex;
        align-items: center;
    }
     .searchimg{
        position: absolute;
        padding: 9px 10px 10px ; 
        min-width: 30px;  
     }
     .search{
         width:90%;
         height: 10px;
        border: 0px;
        padding: 10px 0px 10px 50px; 
        outline: none;
     }
     
     .search:focus{
        border: 0px;
        outline: none;
    }
     .search:hover::placeholder{
         opacity: 0;
     }
     .search:not(:focus)::placeholder{
        opacity: 1;
    }
     
     /* .searchimg{
          
           height: 35px;
           left: 0;
     }
     .searching{
         display: flex;
         justify-content: center;
         align-items: center;
     } */
     .home {
        text-decoration: none !important;
    }
    .button{
        background-color: rgb(215, 53, 243);
        border: 0px;
        border-radius: 20px;
        width: 25%;
        height: 30px;
        color: rgba(22, 22, 22, 0.456);
        margin: 10px;
    }
     
    .selfcard a img {
        border: 2px solid rgba(17, 223, 17, 0.816);
        margin-top: 20px;
        border-radius: 10px;    
        background-color: rgb(0, 255, 0);
    }